body {
	text-align: center;
	color: white;
}
img {
	height:400px;
	width:200px;
}
.container{
	background: url("../img/arena.gif") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}